body{
    margin: 0;
    font-family: sans-serif;
}

.secao-topo{
    width: 100%;
    padding: 120px 80px;
    background-image: url("/img/banner-topo.jpg");
    background-size: cover;
}

.secao-mapa{
    width: 100%;
    padding: 120px 80px;
    text-align: center;
    box-sizing: border-box;
}

.secao-mapa h3 {
    font-size: 36px;
    color: #3c1843;
    text-align: center;
    margin: 0 0 45px 0;
}

.secao-mapa p{
    font-size: 20px;
    color: #3c1843;
    text-align: center;
    margin: 0 0 45px 0;
}

.faixa{
    padding: 120px 80px;
    background-color: #3c1843;
    text-align: center;
}

.faixa p{
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.faixa span{
    font-style: italic;
    font-weight: 700;
}

.faixa a{
    text-decoration: none;
    margin: 0 20px;
}

.faixa img{
    width: 50px;
    height: 50px;
}

.secao-servico{
    width: 100%;
    padding: 120px 80px;
    box-sizing: border-box;
}

.secao-servico h3{
    font-size: 36px;
    color: #3c1843;
    text-align: center;
    margin: 0 0 45px 0;
}

.container-lista{
    width: 800px;
    margin: 0 auto 50px auto;
    color: #3c1843;
}

.container-lista ul{
    font-size: 20px;
    margin: 0 0 20px 0;
}

.container-lista span{
    font-style: italic;
    font-weight: 700;
}

.container-img-servico{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


.secao-marca{
    width: 100%;
    padding: 120px 80px;
    text-align: center;
    box-sizing: border-box;
}

.secao-marca h3{
    font-size: 36px;
    color: #3c1843;
    text-align: center;
    margin: 0 0 45px 0;
}

.container-marca{
    max-width: 800px;
    margin: 0 auto;
}

.container-marca img{
    width: 148px;
    height: 148px;
    margin: 0 15px;
}
.rodape{
    width: 100%;
    padding: 10px 0;
    background: #3c1843;
    box-sizing: border-box;
}

.rodape p{
    color: #fff;
    font-size: 12px;
    text-align: center;
}